.addpdtbox {
    margin: auto;
    width: 300px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addpdttitle {
    padding-top: 20px;
    position: relative;
    font-size: 30px;
    font-weight: 700;
}

.addpdtinnerbox {
    position: relative;
    height: 30%;
    width: 50%;
    background-size: cover;
}

.addpdtinput {
    position: relative;
    left: 65px;
    padding-top: 10px;
}

.addpdtinput::-webkit-file-upload-button {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 40px;
    display: block;
    width: 100px;
    height: 40px;
    font-weight: 600;
}

.addpdtinput::-webkit-file-upload-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: black;
}

.addpdtinput {
    color: transparent;
}

.addpdtsubmit {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 40px;
    display: block;
    width: 90px;
    height: 40px;
    font-weight: 500;
    font-weight: 600;
}

.addpdtsubmit:hover {
    background-position: right center;
    color: #fff;
    text-decoration: black;
}

.addpdterror {
    color: red;
}

