<!DOCTYPE html>
<html>
    <head>
        <title> REPORTS </title>
    </head>
    <body>
        <h1>Reports</h1>
        <table border="5">
            <tr>
                <td>Username</td>
                <td>Location</td>
                <td>Report</td>
                <td>TimeStamp</td>
            </tr>
            {% for obj in rpts %}
            <tr>
                <td>{{obj.username}}</td>
                <td>{{obj.loc}}</td>
                <td>{{obj.report}}</td>
                <td>{{obj.timestamp}}</td>
                <td><a href="delete/{{obj.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <form action="", method="post">
            {% csrf_token %}
            <label for="Uname"><b>Filter by Username: </b></label>
            <input type="text" id="Uname" name="Uname">
            <br><br>
            <input type="submit" value="Filter">
        </form>
        <a style="position: absolute; right: 10px; top: 0px;" href="back/">Back</a>
    </body>
</html>